{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block page_title %}Reports{% endblock %}

{% block content %}

<!-- Summary Cards -->

<div class="cards">

    <div class="card">

        <div class="card-top">

            <div>

                <h4>Total Income</h4>

                <h2>₹{{ income }}</h2>

            </div>

            <div class="card-icon green">

                <i class="fa-solid fa-arrow-trend-up"></i>

            </div>

        </div>

    </div>

    <div class="card">

        <div class="card-top">

            <div>

                <h4>Total Expense</h4>

                <h2>₹{{ expense }}</h2>

            </div>

            <div class="card-icon red">

                <i class="fa-solid fa-arrow-trend-down"></i>

            </div>

        </div>

    </div>

    <div class="card">

        <div class="card-top">

            <div>

                <h4>Current Balance</h4>

                <h2>₹{{ income - expense }}</h2>

            </div>

            <div class="card-icon blue">

                <i class="fa-solid fa-wallet"></i>

            </div>

        </div>

    </div>

</div>

<br>

<!-- Charts -->

<div class="report-grid">

    <!-- Income vs Expense -->

    <div class="box">

        <h2>Income vs Expense</h2>

        <canvas id="pieChart"></canvas>

    </div>

    <!-- Monthly Expenses -->

    <div class="box">

        <h2>Monthly Expenses</h2>

        <canvas id="barChart"></canvas>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const income = {{ income|tojson }};
const expense = {{ expense|tojson }};

const months = {{ months|tojson }};
const monthlyExpense = {{ monthly_expense|tojson }};

// ---------------- Doughnut Chart ----------------

new Chart(document.getElementById("pieChart"), {

    type: "doughnut",

    data: {

        labels: ["Income", "Expense"],

        datasets: [{

            data: [income, expense],

            backgroundColor: [
                "#22C55E",
                "#EF4444"
            ],

            borderWidth: 0

        }]

    },

    options: {

        responsive: true,
        maintainAspectRatio: false,

        plugins: {

            legend: {

                position: "bottom"

            }

        }

    }

});

// ---------------- Monthly Expense Chart ----------------

new Chart(document.getElementById("barChart"), {

    type: "bar",

    data: {

        labels: months,

        datasets: [{

            label: "Expenses",

            data: monthlyExpense,

            backgroundColor: "#2563EB",

            borderRadius: 8

        }]

    },

    options: {

        responsive: true,
        maintainAspectRatio: false,

        plugins: {

            legend: {

                display: false

            }

        },

        scales: {

            y: {

                beginAtZero: true

            }

        }

    }

});

</script>

{% endblock %}